---
import Layout from '../../layouts/Layout.astro'
import Map from '../../components/map/Map'
import Visor from '../../components/visor360/Visor360'
import { sites } from '../../data/sites'

export const getStaticPaths = () => {

	return sites.map(site => {
		return {
			params: { id: site.id },
			props: site
		}
	})
}

const site = Astro.props;

---

<Layout title="Welcome to Astro.">
	<main class="w-[100vw] h-[100vh]">
		<div class="absolute w-full box-border translate-y-3/4 md:translate-y-0 h-[100vh] z-10 md:fixed md:w-1/2 md:p-9 ">
			<div class="relative min-h-min bg-white rounded-t-md rounded-b-none shadow-[0_35px_60px_15px_rgba(0,0,0,0.3)] md:h-full md:rounded-md md:border md:border-black md:shadow-none md:overflow-hidden">
				<div class=" w-full md:h-full md:absolute md: overflow-y-auto p-6">
					<h2>
						{ site.id }
					</h2>
				</div>
			</div>
		</div>
		<Visor client:only point={site}/>
	</main>
</Layout>

