---
---
<div class="grow relative">
  <div
    class="absolute h-full w-full p-4 md:rounded-none md:p-0 overflow-hidden"
  >
    <img
      class="h-full w-full object-cover rounded-md"
      src="https://www.jamundi.gov.co/Dependencias/PublishingImages/Paginas/Turismo-cultural/wdw3.png"
      alt=""
    />
  </div>
</div>