---
---
<div class="flex flex-col items-center">
  <div class=" h-16 w-16 flex-none inline-block0 p-1">
    <div class="h-full w-full rounded-full border-2 border-black p-1 overflow-hidden object-cover">
      <img class="object-cover h-full rounded-full" src="https://www.cali.gov.co/cultura/info/principal/media/pubInt/thumbs/thpub_700x400_148478.jpg" alt="">
    </div>
  </div>
  <span class=" text-xs">Historia</span>
</div>