---
import Story from './Story.astro'
---

<h4 class="px-5 py-4 font-semibold">Historias</h4>
<div class="sticky top-0">
  <div
    class="stories-container h-24 flex relative overflow-x-auto overflow-hidden"
  >
    <div class="absolute h-full flex flex-row flex-nowrap items-center px-4">
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
      <Story />
    </div>
  </div>
</div>

<style>
  .stories-container::-webkit-scrollbar {
    width: 0px;
    display: none; /* width of the entire scrollbar */
  }

  .stories-container::-webkit-scrollbar-track {
    display: none; /* color of the tracking area */
  }

  .stories-container::-webkit-scrollbar-thumb {
    display: none;
  }
</style>